@import "tailwindcss";
html, body {
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
  background: #000;
  color: #f9f9f9;
}

@layer utilities {
   @keyframes blink {
    0%, 100%{
      opacity:1
    }
    50% {
      opacity:0
    }
  }
  @keyframes loading {
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(250%);
    }
  }
  .animate-blink {
    animation: blink 1s step-start infinite;
  }
  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}